@font-face {
    font-family: 'GT America';
    src: url(./fonts/GT-America/GT-America-Standard-Regular.ttf);
}

:root {
    --black: #1f1f1f;
    --natt: #1f1f1f;
    --white: #ffffff;
    --rebell: #d4ff26;
    --ild-lys: #f0eae2;
    --spacing-01: 0.125rem;
    --spacing-02: 0.25rem;
    --spacing-03: 0.5rem;
    --spacing-04: 0.75rem;
    --spacing-05: 1rem;
    --spacing-06: 1.5rem;
    --spacing-07: 2rem;
    --spacing-08: 2.5rem;
    --spacing-09: 3rem;
    --spacing-10: 4rem;
    --spacing-11: 5rem;
    --spacing-12: 6rem;
    --spacing-13: 10rem;
}

* {
    font-family: 'GT America', Arial, Helvetica, sans-serif;
}

html,
:root {
    background-color: var(--ild-lys);
    color: var(--natt);
    font-family: 'GT America', Arial, Helvetica, sans-serif;
    font-size: 22px;
    overflow-x: hidden;
    font-weight: 100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-size: clamp(2rem, 1.5rem + 1vw, 3rem);
    font-family: 'GT America', Arial, Helvetica, sans-serif;
    line-height: 1.4;
    font-feature-settings: 'ss01' on, 'ss05' on;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

a {
    color: var(--natt);
    &&:hover {
        text-decoration: none;
    }
}
